html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #ececec;
  max-width: 100vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239269d4' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
main {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: "Press Start 2P", sans-serif, cursive;
}
.wrapper {
  position: relative;
  margin-top: auto;
}
section {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p {
    font-family: sans-serif, cursive;
  }
}

.slice {
  opacity: 0;
  &.fadeLeft {
    animation: fadeAnim1 1s ease;
    animation-fill-mode: forwards;
  }
  &.fadeRight {
    animation: fadeAnim2 1s ease;
    animation-fill-mode: forwards;
  }
  padding: 10rem 20%;
  background: #5a80c5;
  color: white;
  font-family: sans-serif;
  font-size: large;
  h2 {
    font-family: "Press Start 2P", sans-serif, cursive;
  }
  &1 {
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }
  &2 {
    clip-path: polygon(0% 8%, 100% 25%, 100% 100%, 0% 83%);
  }
  a {
    text-decoration: none;
    color: #21f1bd;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: circle;
  }
}

#hero {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  img {
    position: absolute;
    width: 4rem;
    bottom: 1rem;
    height: 4rem;
  }
  .simon {
    bottom: 10vh;
    left: -70vw;
    z-index: 1;
    animation: walkLeft;
    animation-timing-function: ease;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  .megaman {
    bottom: 1rem;
    left: -70vw;
    z-index: 0;
    width: 3.5rem;
    height: 3.5rem;
    animation: walkLeft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: ease;
    top: 2vh;
  }
  .rayman {
    z-index: 1;
    right: -70vw;
    animation: walkRight;
    animation-timing-function: ease;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
  }
  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  h2 {
    z-index: 3;
    position: absolute;
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    position: absolute;
    width: 4rem;
    bottom: 1rem;
    height: 4rem;
  }
}

.filters {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  h3 {
    font-family: sans-serif;
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: small;
  }
}

.checkbox-list {
  margin: 2rem 0;
  column-count: 2;
  border: 1px solid gray;
  padding: 1rem;
  width: 100%;
  &.time,
  &.score,
  &.plaform,
  &.date {
    width: auto;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  h2 {
    font-size: medium;
  }
  h3 {
    font-size: 1.1rem;
    font-family: "Press Start 2P", sans-serif, cursive;
    text-align: center;
  }
  width: 100%;
}

.checkbox-list label {
  font-family: sans-serif;
  font-size: 0.8rem;
  flex: 0 0 50%;
  font-weight: 400;
  margin-bottom: 5px;
  color: #191a1b;
  display: block;
  text-align: left;
  padding: 0.2rem;
}

.button {
  font-family: sans-serif;
  font-size: large;
  padding: 0.5rem;
  border-radius: 3px;
  text-transform: capitalize;
  border: 1px solid rgba(129, 125, 125, 0.753);
  margin: 1.5rem 0;
  cursor: pointer;
  &.run_button {
    background: #2152ad;
    color: white;
  }
  &.clear_button {
    background: white;
    color: #2152ad;
  }
}

.cutoff {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &--sm {
    -webkit-line-clamp: 1;
  }
  &--md {
    -webkit-line-clamp: 3;
  }
  &--lg {
    -webkit-line-clamp: 4;
  }
}

.checkbox-list label:hover {
  color: blue;
}
.bold {
  font-weight: bold;
}

@keyframes walkLeft {
  to {
    transform: translateX(120vw);
  }
}

@keyframes walkRight {
  to {
    transform: translateX(-120vw);
  }
}

@keyframes fadeAnim1 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeAnim2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#results {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .game {
    width: 100%;
    p {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: blue;
      cursor: pointer;
    }
    .release {
      color: #5f5d5d;
      font-size: small;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__rating {
      font-size: 1rem;
    }
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      a {
        width: 80%;
        background: rgb(20, 171, 177);
        color: white;
        margin: 0.7rem 0;
        display: block;
        padding: 0.4rem;
      }
    }
    &__imgcontainer {
      width: 75%;
      img {
        width: 100%;
      }
    }
  }
}

.game__imgcontainer.loading {
  height: 20rem;
  width: 50%;
}
.game__title.loading {
  height: 5rem;
  width: 50%;
  margin: 1rem;
  border-radius: 3px;
}
.game__description.loading {
  height: 8rem;
  width: 50%;
  margin: 1rem;
  border-radius: 3px;
}
.game__links.loading {
  height: 8rem;
  width: 70%;
  margin: 1rem;
  border-radius: 3px;
}
/* The loading Class */
.loading {
  position: relative;
  background-color: #e2e2e2;
}

/* The moving element */
.loading::after {
  display: block;
  content: "";
  position: absolute;
  left: 30%;
  width: 30%;
  height: 100%;
  transform: translateX(-140%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(70, 67, 67, 0.829)),
    to(transparent)
  );
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.336), transparent);
  animation: loading 0.8s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 425px) {
  #hero {
    .simon,
    .rayman {
      animation-duration: 9s;
    }
    .megaman {
      animation-duration: 12s;
    }
  }
  .checkbox-list {
    &.time,
    &.score {
      width: 80%;
    }
    &.date {
      width: 55%;
    }
  }
}

@media only screen and (min-width: 500px) {
  .checkbox-list {
    &.time,
    &.score,
    &.date {
      width: auto;
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    .half {
      text-align: center;
    }
  }
  #hero {
    .simon,
    .rayman {
      animation-duration: 13s;
    }
    .megaman {
      animation-duration: 15s;
    }
  }
  .checkbox-list {
    column-count: 3;
    &.time,
    &.score,
    &.date {
      width: auto;
    }
  }

  #results {
    .info {
      width: 100%;
    }
    .game {
      .summary {
        width: 80%;
      }
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(8),
      p:nth-child(9) {
        width: 40%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .slice {
    ul {
      text-align: left;
    }
  }
  #hero {
    .simon,
    .rayman {
      animation-duration: 18s;
    }
    .megaman {
      animation-duration: 20s;
    }
  }
  .container {
    &.half {
      width: 45%;
      margin: 0.5rem;
    }
  }
  .checkbox-list {
    column-count: 3;
    &.time,
    &.score,
    &.date,
    &.genre,
    &.platform {
      width: auto;
    }
    &.time,
    &.score {
      margin: 0;
      column-count: 2;
    }
  }
  .checkbox-list label {
    margin-bottom: 8px;
    font-size: 0.9rem;
  }
  #results {
    .game__links {
      a {
        width: 60%;
      }
    }
    .game {
      &__imgcontainer {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1024px) {
  #results {
    .game {
      &__imgcontainer {
        width: 40%;
        img {
          width: 100%;
        }
      }
    }
  }
  #hero {
    .simon,
    .rayman {
      animation-duration: 22s;
    }
    .megaman {
      animation-duration: 24s;
    }
  }
}
